PORT=5001
MONGO_URI=your_mongodb_uri
JWT_SECRET=your_jwt_secret
JWT_SECRET_FOR_VERIFY=your_jwt_verify_secret

# Amazon Seller Central Credentials
AMAZON_APP_ID=your_amazon_app_id
AMAZON_CLIENT_ID=your_amazon_client_id
AMAZON_CLIENT_SECRET=your_amazon_client_secret
AMAZON_REDIRECT_URI=http://localhost:3000/amazon/callback

# Email Configuration
SERVICE=gmail
EMAIL_USER=your_email
EMAIL_PASS=your_email_password
HOST=smtp.gmail.com
EMAIL_PORT=465

# Stripe Configuration
STRIPE_KEY=your_stripe_secret_key
MAX_AMOUNT=5000.0
MIN_AMOUNT=10.0
AMOUNT_STEP=5.0
CURRENCY=usd
STRIPE_PAYMENT_DESCRIPTION="Payment Description"

# URLs
STORE_URL=http://localhost:3000/
ADMIN_URL=http://localhost:3000/
